body {
   background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
  background-repeat: no-repeat, repeat;
 background-size: 100%,100%;
}
.container {float: left;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  margin: 25px auto;
  width: 600px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.boton {background: #DB3030 ;
  width: 400px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
}
@media (min-width:768px;) {
  body {background-size: cover;
  }
}
@media (min-width:992px;) {
  body {background-size: cover;
  }
}
@media (min-width:1200;) {
  body {background-size: cover;
  }
}
