body {
   background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
  background-repeat: no-repeat, repeat;
 background-size: cover;
}
.container {background: rgba(46, 49, 49, 1.0);
  margin: 25px auto;
  width: 600px;
  height: 600px;
  border-radius: 5px;
}

@media (min-width:768px;) {
  body {background-size: cover;
  }
}
@media (min-width:992px;) {
  body {background-size: cover;
  }
}
@media (min-width:1200;) {
  body {background-size: cover;
  }
}
